# Python
__pycache__/
*.py[cod]

# Virtual environment
.venv/
venv/
env/

# Google Colab
.ipynb_checkpoints/

# VS Code
.vscode/

# Data
data/raw/
data/processed/

# Generated outputs
outputs/*
!outputs/.gitkeep

# OS
.DS_Store
Thumbs.db